/* Estilos para a página de listagem de funcionários */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

.logo-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.logo {
    width: 150px;
    height: auto;
}

h1 {
    text-align: center;
    color: #333;
}

.error-message {
    color: #ff0000;
    text-align: center;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    overflow-x: auto; /* Adicionado para responsividade */
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    word-wrap: break-word; /* Ajuste para quebra de linha em conteúdo longo */
}

th {
    background-color: #ffde59;
    color: black;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

.btn-submit {
    background-color: #ffde59;
    color: black;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 10px auto;
    cursor: pointer;
    border-radius: 5px;
    display: block;
}

.btn-submit:hover {
    background-color: #e2b808;
}